* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #050518; */
  font-family: sans-serif;
  overflow: auto;
}

.calc-header h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-top: 2rem;
}

.calc-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2rem;
}

.display {
  padding: 4%;
  text-align: right;
  background: rgb(113, 110, 110);
  color: aliceblue;
  font-size: 1.8rem;
  font-weight: 300;
}

button {
  color: rgb(22, 23, 20);
  background: rgb(224, 225, 222);
  padding: 5%;
  font-size: 1.8rem;
  cursor: pointer;
  outline: none;
  appearance: none;
  border: 1px solid rgb(220, 209, 209);
  transition: all 0.4s ease-out;
}

.container {
  display: flex;
  flex: 1 1 30%;
}

.operators {
  display: flex;
  flex-direction: column;
  width: 26%;
}

.operators button {
  flex: 1;
  background: rgb(218, 152, 29);
}

.digits-numbers {
  display: flex;
  flex-wrap: wrap;
  background: rgb(224, 225, 222);
}

.digits-numbers button {
  flex: 1 1 33.3%;
  max-width: 33.3%;
}

.calc-top {
  display: flex;
  flex-wrap: wrap;
  background: rgb(224, 225, 222);
}

.calc-top button {
  flex: 1 1 33.33%;
  max-width: 33.33%;
}

.calc-bottom {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.calc-bottom button {
  width: 33.33%;
}

.calc-bottom .btn0 {
  width: 66.777%;
  outline: none;
}

.main-calc {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 2rem;
}
