* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #050518;
  font-family: sans-serif;
  overflow: auto;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #050518;
  border-bottom: 1px solid #616164;
  box-shadow: #b8b2b2 0 0 10px 0;
  color: #fff;
}

.links {
  display: flex;
  gap: 18px;
  justify-content: space-between;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: #fff;
}

.page-title,
.calc-title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 400;
}

.calc-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: #d7d4d4;
}

.display {
  padding: 4%;
  text-align: right;
  background: rgb(120, 119, 119);
  color: aliceblue;
  font-size: 1.8rem;
  font-weight: 300;
}

button {
  color: rgb(22, 23, 20);
  background: rgb(245, 245, 244);
  padding: 5%;
  font-size: 1.8rem;
  cursor: pointer;
  outline: none;
  appearance: none;
  border: 1px solid rgb(220, 209, 209);
  transition: all 0.5s ease-out;
  border-radius: 10px;
}

.container {
  display: flex;
  flex: 1 1 30%;
}

.operators {
  display: flex;
  flex-direction: column;
  width: 26%;
}

.operators button {
  flex: 1;
  background: rgb(218, 152, 29);
}

.digits-numbers {
  display: flex;
  flex-wrap: wrap;
  background: rgb(224, 225, 222);
}

.digits-numbers button {
  flex: 1 1 33.3%;
  max-width: 33.3%;
}

.calc {
  display: flex;
  justify-content: space-between !important;
  padding: 1rem;
}

.calc-top {
  display: flex;
  flex-wrap: wrap;
  background: rgb(224, 225, 222);
}

.calc-top button {
  flex: 1 1 33.33%;
  max-width: 33.33%;
}

.calc-bottom {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.calc-bottom button {
  width: 33.33%;
}

.calc-bottom .btn0 {
  width: 66.777%;
  outline: none;
}

.main-calc {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 2rem;
}

.main-content {
  border: 1px solid #fff;
  height: 92.5vh;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}
